body {
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 16vh;
}

.container {
    padding: 0;
}

.col {
    padding: 0!important;
    margin: 0!important;
}

.row {
    padding: 0;
    margin: 0;
}

/* CSS media */
@media screen and (max-width: 767px) {
    .jumbotron,
    .statement {
        .row {
            padding: 0 5%;
        }
    }
    .first_row {
        padding: 0 1rem;
    }
    .card {
        width: 90%;
        margin: 5%;
    }

}
  
@media screen and (min-width: 768px) {
    .card {
        width: 30%;
    }

}

@media screen and (min-width: 1026px) {
    /* .card {
        width: 30%;
    } */

}
/* /END/ Css media */