header {
    color: $white;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;

    .announcement {
        padding: 3.5vh 0;
        background-color: $black;
        button {
            background-color: $red;
            color: $white;
            line-height: 1rem;
            height: 50%;
            padding: 0 1rem 0.1rem;
        }
        p {
            margin: 0 1rem;
        }
    }

    nav {
        background-color: $red;
        padding: 2.5vh 0;
        .container {
            .navbar-brand {
                width: 20%;
                color: $white;
                i {
                    font-size: 2.5rem;
                    margin-right: 1rem;
                }
            }
            li {
                display: inline-block;
            }
            
        }
        .cart {
            background-color: $black;
            padding: 0.4rem 0.8rem;
            margin-left: 1rem;
        }
        .row {
            margin: 0;
        }
    }
}